body{
  padding-left: 8pt;
}

.plus-button {
  border-radius: 50%;
  border-width: thin;
  color: steelblue;
  border-color: steelblue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}

.plus-button:hover {
  background-color: lightgray;
}
