h1{
    font-family: "Optima", Optima;
    font-size: 47px;
    text-align: left;
    color: steelblue;
}

body{
    padding-left: 8pt;
}

.plus-button {
    border-radius: 50%;
    border-width: thin;
    color: steelblue;
    border-color: steelblue;
}

iframe {
    background-color: snow;
    align: center;
    width: 360px;
    height: 640px;
}

h2 {
    font-family: Avenir;
    font-weight: bold;
}

label.newItem {
    font-family: Avenir;
}

label.listItem {
    font-family: Avenir;
}

p {
    font-family: Avenir;
}

label.listItem:hover {
    color: darkgrey;
}


#textbox {
    width: 230px;
    font-family: Avenir;
}

.uncompleted {
    font-family: Avenir;
    border-color: steelblue;
    border-width: thin;
    width: 250px;
    height: 30px;
    grid-row:3;
    grid-column:1;
}

.deleteCompleted {
    font-family: Avenir;
    border-color: steelblue;
    border-width: thin;
    width: 250px;
    height: 30px;
    grid-row:4;
    grid-column:1;
}

