h1{
    font-family: "Optima", Optima;
    font-size: 47px;
    text-align: left;
    color: steelblue;
}

body{
    padding-left: 8pt;
}

.plus-button {
    border-radius: 50%;
    border-width: thin;
    color: steelblue;
    border-color: steelblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}

.plus-button:hover {
    background-color: lightgray;
}

iframe {
    background-color: snow;
    align: center;
    width: 360px;
    height: 640px;
}

h2 {
    font-family: Avenir;
    font-weight: bold;
}

label.newItem {
    font-family: Avenir;
}

label.listItem {
    font-family: Avenir;
}

p {
    font-family: Avenir;
}

label.listItem:hover {
    color: darkgrey;
}


#textbox {
    width: 230px;
    font-family: Avenir;
}

.uncompleted {
    font-family: Avenir;
    border-color: steelblue;
    border-width: thin;
    width: 250px;
    height: 30px;
    grid-row:3;
    grid-column:1;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.07), 0 6px 8px 0 rgba(0,0,0,0.07);
    display: block;
    position: fixed;
    bottom: 0;
    margin: 20% 20% 20% 20%;
    margin-left: 10%;
}
.uncompleted:hover {
    background-color: lightgray;
}

.deleteCompleted {
    font-family: Avenir;
    border-color: steelblue;
    border-width: thin;
    width: 250px;
    height: 30px;
    grid-row:4;
    grid-column:1;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.05), 0 6px 6px 0 rgba(0,0,0,0.05);
    display: block;
    position: fixed;
    bottom: 0;
    margin: 20% 20% 10% 20%;
    margin-left: 10%;
}

.deleteCompleted:hover {
    background-color: lightgray;
}

.hidden {
    display: none;
}

.fa-solid{
   font-size: x-small;
}
